@import "./layout.scss"; // 整体布局样式

html,
body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
ul {
  margin: 0;
}
a {
  text-decoration:none;
}
