/* breadcrumb fade */
.breadcrumb-enter,
.breadcrumb-leave {
    opacity: 0;
    transform: translateX(20px);
}

.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all .5s;
}

/* 路由过渡动画 */
.page-enter {
    opacity: 0;
    transform: translateX(-40px);
}
.page-leave-to {
    opacity: 0;
    transform: translateX(40px);
}
.page-enter-active,
.page-leave-active {
    transition: all .5s ;
}

